<ul class="icons-list" fxHide.xs>
  <li>
    <a href="https://www.linkedin.com/in/mauro-bilotti-81291397/">
      <svg data-feather="linkedin"></svg>
    </a>
  </li>
  <li>
    <a href="https://github.com/maurobilotti">
      <svg data-feather="github"></svg>
    </a>
  </li>
  <li>
    <a href="https://stackoverflow.com/users/2936486/mauro-bilotti">
      <svg data-feather="code"></svg>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/bilottimauro/">
      <svg data-feather="instagram"></svg>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/mauro.bilo/">
      <svg data-feather="facebook"></svg>
    </a>
  </li>
</ul>
