.icons-list {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;

  &::after,
  &::before {
    box-sizing: inherit;
  }

  li {
    margin-bottom: 20px;
    a {
      display: inline-block;
      text-decoration: none;
      text-decoration-skip-ink: auto;
      color: inherit;
      position: relative;
      transition: var(--transition);
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
      }

      .feather-linkedin {
        &:hover,
        &:focus {
          color: #4285d6;
        }
      }

      .feather-facebook {
        &:hover,
        &:focus {
          color: #3f6eca;
        }
      }

      .feather-github {
        &:hover,
        &:focus {
          color: white;
        }
      }

      .feather-instagram {
        &:hover,
        &:focus {
          color: #b760da;
        }
      }

      .feather-code {
        &:hover,
        &:focus {
          color: #ec7c22;
        }
      }
    }

    &:hover,
    &:focus {
      transform: translateY(-2px);
    }
  }
}
