<div class="home-container">
  <div style="transition-delay: 100ms;">
    <h1>Hello, I am</h1>
  </div>
  <div style="transition-delay: 200ms;">
    <h2 class="name-heading">Mauro Bilotti.</h2>
  </div>
  <div style="transition-delay: 300ms;">
    <h3 class="name-heading">I'm an information systems engineer.</h3>
  </div>
  <div style="transition-delay: 400ms;">
    <p>I'm an a full-stack developer who loves building things to the web.
      I worked for many projects in different technologies but my biggest background is around .NET technologies.
    </p>
  </div>
</div>

