.home-container {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;

  .name-heading {
    margin: 0px;
    font-size: 80px;
    text-align: left;
  }

  .subtitle-heading {
    margin: 0px;
    font-size: 70px;
    text-align: left;

    @media (max-width: 480px) {
      font-size: 56px;
    }
  }

  h1 {
    margin: 30px 0px 20px 4px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400;
  }

  h2 {
    font-weight: 600;
    color: var(--lightest-slate);
  }

  h3 {
    margin-top: 10px;
    color: var(--slate);
  }

  p {
    margin: 20px 0px 0px;
    max-width: 660px;
    color: var(--slate);
    text-align: left;
    .fab {
      font-weight: 200;
    }

    .fa-node-js {
      color: #be4bdb;
    }

    .fa-php {
      color: #5d7eb5;
    }

    .fa-windows {
      color: #4e2acd;
    }

    .fa-vuejs {
      color: #00bb7c;
    }

    .fa-react {
      color: #00d1f7;
    }

    .fa-angular {
      color: #de2938;
    }
  }

  .get-in-touch-button {
    margin-top: 50px;
  }

  .rounded-button {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    font-size: var(--fz-xs);
    margin-left: 0;

    &:hover {
      background-color: var(--green-tint);
    }
  }
}
