<div class="home-container">
  <div style="transition-delay: 100ms">
    <h1>Hello, I am</h1>
  </div>
  <div style="transition-delay: 200ms">
    <h2 class="name-heading">Mauro Bilotti</h2>
  </div>
  <div style="transition-delay: 300ms">
    <h3 class="subtitle-heading">And I love programming!</h3>
  </div>
  <div style="transition-delay: 400ms">
    <p>I'm an Information Systems Engineer who works as full-stack developer building things for the web.
      <br><br>
      I have worked in many projects around the world using different
      technologies such as
      <i class="fab fa-node-js">Nodejs</i>,
      <i class="fab fa-php">Laravel</i> and
      <i class="fab fa-windows"> .NET</i> (my strongest),
      and also front-end frameworks like
      <i class="fab fa-angular">Angular (+6)</i>,
      <i class="fab fa-vuejs">Vue.js</i> and
      <i class="fab fa-react">React.js</i>
    </p>
  </div>

  <div class="get-in-touch-button">
    <a class="rounded-button" href="mailto:bilottimauro@gmail.com"
    >Contact Me</a
  >
  </div>
</div>
